@charset "UTF-8";
html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #F7F7FF; }

body {
  background-color: #F7F7FF; }

.nav-item {
  font-size: auto;
  font-weight: bold;
  color: #43386B;
  padding-left: 5vw;
  padding-right: 5vw;
  margin-top: 1em;
  margin-bottom: 1em; }

.dropdown-item {
  font-size: auto;
  font-weight: bold;
  color: #43386B;
  margin-top: 1em;
  margin-bottom: 1em; }

.titulosPrincipales {
  font-size: 6vw;
  font-weight: 400;
  color: #7662BD; }

#tituloLanding {
  font-weight: bold;
  font-size: 4vw;
  color: #43386B; }

#logoLanding {
  margin-top: 2vw;
  margin-bottom: 3vw; }

.titulosMedianos {
  text-align: center;
  font-weight: bolder;
  color: #43386B; }

#craftGoldButton {
  background-color: #F7F7FF;
  border-radius: 20vw;
  border: 2px solid #DEA861;
  padding: 1vw;
  font-size: 1vw;
  color: #DEA861; }

#craftGoldButton:hover {
  background-color: #DEA861;
  color: black;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }

#cuerpoTodo {
  background-color: #F7F7FF; }

#landingPrincipal {
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s; }

.main {
  color: #43386B; }
  .main__formulario {
    text-align: center;
    justify-content: center;
    font-size: large;
    font-weight: 400; }
    .main__formulario __texto {
      font-size: 2vw;
      color: #DEA861;
      font-weight: bold; }
    .main__formulario __input {
      font-size: 3.5vw;
      color: #7662BD; }
    .main__formulario __boton {
      display: flex;
      justify-content: center;
      text-decoration: none;
      margin: 0; }
  .main__protecciones {
    text-align: center;
    align-content: center;
    padding: 1vw;
    margin-left: 20vw;
    margin-right: 20vw; }
    .main__protecciones__titulo {
      font-size: x-large; }
      .main__protecciones__titulo__enfasis {
        background-color: #DEA861;
        font-weight: 400; }
      .main__protecciones__titulo__normal {
        color: black; }
  .main__experience {
    padding: 2vw;
    margin-left: 20vw;
    margin-right: 20vw;
    text-align: center; }
    .main__experience__titulo {
      font-size: 3.5vw;
      color: #7662BD; }
    .main__experience__texto {
      font-size: 2vw;
      color: #DEA861;
      font-weight: bold; }
    .main__experience__boton {
      display: flex;
      justify-content: center;
      text-decoration: none;
      margin: 0; }
  .main__card {
    align-content: center;
    justify-content: center;
    border: #F7F7FF;
    background-color: #F7F7FF; }
    .main__card__img {
      padding-top: 15px;
      align-content: center;
      border-radius: 15px;
      max-width: calc(max(15vw, 180px));
      min-height: calc(max(15vw, 180px)); }
    .main__cardtextoPrincipal {
      font-size: calc(max(20vw, 350px)); }

.banner {
  color: #7662BD; }
  .banner__titulo {
    font-size: x-large; }

.videosYtb {
  display: none; }

.mostrarVideoGen {
  display: flex;
  justify-content: center;
  text-decoration: none;
  background-color: #DEA861;
  color: black;
  border-radius: 1vw;
  padding: 0.5vw;
  border-width: 0.2vw;
  border-color: #DEA861; }

.BgProductos {
  background-color: #F7F7FF; }

.contenedorDeImagenes {
  transition: all .2s ease-in-out;
  text-decoration: none;
  text-align: center;
  color: #43386B; }

.contenedorDeImagenes:hover {
  transform: scale(1.1);
  overflow: auto;
  font-weight: bold;
  color: #43386B; }

.titulosPaginas {
  padding: 4vw; }

.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  background-color: #F7F7FF;
  border: none; }

/*s="main__experience">
<h1 class="main__experience__titulo">THE EXPERIENCE</h1>
<p class="main__experience__texto">La alchemia, como arte y ciencia, buscó durante muchos años purificar cualquier material con la finalidad de convertirlo en oro.</p>
<p class="main__experience__texto"> Hoy, es tu turno de vivir la alchemia y convertir cada grano, taza y sorbo en el momento y material más preciado de tu día.</p>
</article>



/* MORADO BG
#7662BD MORADO CLARO
#DEA861 DORADO
#43386B MORADO OSCURO
#EEEEEE GRIS*/
